<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
<link rel="shortcut icon" href="/static/img/favicon.ico">
<title>header</title>
</head>
<body>
<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 active">主页</a></li>
          <li><a href="javascript:;" class="nav-link px-2 link-dark">关于</a></li>
        </ul>

        <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input id="mySearch" onkeydown="search(this)" type="search" class="form-control" placeholder="搜索" aria-label="Search">
        </div>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/static/img/defaut.jpg" alt="mdo" width="32" height="32" class="rounded-circle"> 
            <span id="name_span"></span>
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="javascript:;">信息</a></li>
            <li><a class="dropdown-item setting" href="javascript:;">设置</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a id="logout" class="dropdown-item">退出</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
	<script type="text/javascript">
		var URL = "http://"+window.location.host+"/";
		$("#name_span").html(getCookie("DSG_CLOUD"));
		$("#logout").click(function(){
			$.ajax({
				url:URL+"/logout",
				type:'POST',
				dataType:'JSON',
				success:function(result){
					if(result.code==0){
						window.location.replace("/login");
					}else{
						console.log("用户退出失败 code="+result.code);
					}
				},
				error:function(){
					console.log("用户退出失败");
				}
			});
		});
		function getCookie(c_name) {
			if (document.cookie.length>0) {
				c_start=document.cookie.indexOf(c_name + "=");
				if (c_start!=-1) {
					c_start=c_start + c_name.length+1;
					c_end=document.cookie.indexOf(";",c_start);
					if (c_end==-1) {
						c_end=document.cookie.length;
						return unescape(document.cookie.substring(c_start,c_end))
					}
				}
			}
			return "";
		}
	</script>
</body>
</html>